# If you have any other rules for new cfwheels projects that would be beneficial
# please consider adding them to the official CFWheels git ignore on github
# https://github.com/github/gitignore/blob/master/CFWheels.gitignore

# CFEclipse specific
.project

# Railo
WEB-INF
		
# unpacked plugin folders
plugins/**/*

# files directory where uploads go
files

# DBMigrate plugin: generated SQL
db/sql

# builder output
builders/output/**/*

# AssetBundler plugin: generated bundles
javascripts/bundles
stylesheets/bundles

# a test file if needed
test.cfm