sudo: false #upgrade to faster docker-based CI
language: java

cache: bundler #works only for private repo http://docs.travis-ci.com/user/caching/

env:
  global: #ftp credential for remote test server, encrypted with repo specific key 
    - secure: "QZdX3M+wYTejkwHLseV/LwhPOCvkbONJcElHjdsrwb4xiuzZSdHiRYmTc+9hzyIOTb1hrylKZ8udMzIuZZTUCa0Ze30sQmcC83vGIteM+uzQr0RV9asf/4hL83cBye50f1OWIJlyq5FLvD0KMkhP+BnTA7jTI5UD8a4FX+F2UUU="
  matrix:
    - PROFILE=mssql,acf10oracle PARAM=onlysecure
    - PROFILE=jetty,lucee,subfolder PARAM=testParallelStart=true
    - PROFILE=jetty,lucee,mysql PARAM=none
    - PROFILE=jetty,lucee,postgresql PARAM=none
    - PROFILE=jetty,lucee,oracle-emu PARAM=none

before_script:
  - mysql -e 'create database test;'
  - psql -c 'create database test;' -U postgres

script: 
"if [ $TRAVIS_SECURE_ENV_VARS == 'true' || $PARAM != 'onlysecure' ];
 then
  mvn verify -P$PROFILE -D$PARAM
 else
  mvn clean
 fi"
 
#see pom.xml for the explanation of the mvn commands above
 
jdk:
  - oraclejdk7

services:
  - mysql  
  - postgresql
