language: java

cache: bundler #works only for private repo http://docs.travis-ci.com/user/caching/

env: #ftp credential for remote test server, encrypted with repo specific key 
  - secure: "G4bImnNqg3/z01eqb5uC+9iZReuhdv8gsY6Mb+wadOSHmzGFUPmakWs5vTd2C4/tB/8WUwcu/4a0ef/vx5fLFCkTojX/vEKqcbi4ISGIuYM5fa/FeB2z+HoaMGq9Dg4slLCF7K1qdjM2YeCtruRTEg9CdCRL+fHKWguY3cAarH0="

before_script:
  - psql -c 'create database test;' -U postgres

script: mvn verify && mvn verify -Prailo,mysql && mvn clean verify -Pmssql 
#see pom.xml for the explanation of the mvn commands above
#TODO restore && mvn verify -Prailo,postgresql && mvn verify -Prailo,oracle-emu&& mvn verify -Prailo,railo4

jdk:
  - oraclejdk7

services:
  - mysql  
  - postgresql
