language: java

cache: bundler #works only for private repo http://docs.travis-ci.com/user/caching/

env: #ftp credential for remote test server, encrypted with repo specific key 
  - secure: "Wib+BiM5chr0MqOVFkPH0o19t7HZiX511JcxhlR11ciRm3Ef2KlyGvZmc6A8Ajt2nOX6YSZAtm/j+BRl+vOQ0L/DbdgkApl1cMA3EJLZGE+fieiOuOBV62iC32+bmWSOM27gnM8rMwD/5kvvkvZrQCMYTstyc4JQraTDrrUl+5w=" 

before_script:
  - psql -c 'create database test;' -U postgres

script: mvn verify && mvn verify -Prailo,mysql && mvn verify -Prailo,postgresql
#see pom.xml for the explanation of the mvn commands above
#TODO restore && mvn verify -Prailo,oracle-emu && mvn clean verify -Pmssql && mvn verify -Prailo,railo4

jdk:
  - oraclejdk7

services:
  - mysql  
  - postgresql
