body#scaffold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	}
	
body#scaffold table {
	font-size: 90%;
	}
	
body#scaffold table td {
	padding: .2em;
	border-left: 1px solid #CCCCCC;
	}

body#scaffold form label {
	display: block;
	font-weight: bold;
	margin-top: 10px;
	}

body#scaffold form input {
	display: block;
	}
	
body#scaffold form textarea {
	width: 30em;
	height: 7em;
	}

body#scaffold form input[type=submit] {
	margin-top: 10px;
	}

div#error_explanation {
	border: 2px solid #990000;
	background: #EEEEEE;
	padding: 1em;
	}
	
#error_explanation h2 {
	padding: .5em;
	font-size: 100%;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #990000;
	margin-top: -1em;
	margin-right: -1em;
	margin-left: -1em;
	}
	
.field_with_errors {
	display: inline;
	}
		
.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
	padding: 2px;
	border: 2px solid #990000;
	background: #EEEEEE;
	display: table;
	}