*
{
	padding: 0;
	margin: 0;
}

body
{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	font-size: 14px;
	color: #333;
	background: #ddd;
}

#wrapper
{
	margin: auto;
	text-align: left;
	width: 698px;
	background: #fff;
	border-left: 3px solid #999;
	border-right: 3px solid #999;
	border-bottom: 3px solid #999;
}



#top
{
	background: #fff;
	height: 63px;
	padding: 15px;
}

#content
{
	background: #fff;
	padding: 15px;
}

#footer
{
	padding: 3px;
}

#footer p
{
	font-family: Arial;
	font-size: 10px;
	line-height: 1.3em;
}


/*=========================
 NAVIGATION
=========================*/

#nav
{
	text-align: center;
}

#nav
{
	background: url('/images/menubg.gif') left top repeat-x;
	list-style: none;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 40px;
	margin: 0 13px;
}

#nav li
{
	float: left;
}

#nav li a
{
	float: left;
	border-left: 1px solid #c94949;
	border-right: 1px solid #381212;
	background: url('/images/menubg.gif') left top repeat-x;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 18px;
	color: #f2f2f2;
}

#nav li a:hover
{
	background-position: 0 -40px;
}

#nav li a.on
{
	background-position: 0 -80px;
}

/*=========================
 HEADERS AND PARAGRAPHS
=========================*/

h1
{
	font-size: 24px;
	font-weight: bold;
	color: #902c2c;
	margin: 10px 0 5px 0;
}

h2
{
	font-size: 18px;
	font-weight: bold;
	color: #902c2c;
}

h3
{
	font-weight: bold;
	font-size: 16px;
	color: #333;
}

p
{
	margin-bottom: 15px;
}

.small
{
	font-size: 11px;
}

/*=========================
 LINKS
=========================*/

#content a, #footer a
{
	color: #922c2c;
	text-decoration: underline;
	padding: 1px;
}

#content a:hover, #footer a:hover
{
	color: #fff;
	background: #922c2c;
	text-decoration: none;
}

/*=========================
 LISTS IN CONTENT AREA
=========================*/

#content ul, #content ol
{
	margin: 10px 0 15px 25px;
}

#content ul li, #content ol li
{
	padding-bottom: 0;
}

#top #logo
{
	float: left;
}

img
{
	border: none;
}

#intro
{
	float: right;
	width: 475px;
	padding: 10px 10px 10px 20px;
}

#intro p
{
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
}

pre
{
	border: 1px solid #a6a2a2;
	overflow-x: auto;
	width: 646px;
	padding: 15px;
	margin-bottom: 15px;
	background: #ffffe0;
}

code
{
	color: #000;
	font-family: "Courier New";
}

tt
{
	font-family: "Courier New";
	font-size: 12px;
	color: #555;
}

table.arguments
{
	border-top: 1px solid #a6a2a2;
	border-left: 1px solid #a6a2a2;
	margin-bottom: 15px;
}

table.arguments tr td
{
	padding: 5px;
	border-right: 1px solid #a6a2a2;
	border-bottom: 1px solid #a6a2a2;
	font-size: 11px;
}

.info
{
	background: #eaeaea;
	border: 1px solid #c8c8c8;
	font-weight: bold;
	padding: 3px 10px;
	margin-bottom: 15px;
}

#content .error-messages
{
	font-weight: bold;
	color: red;
}


/*=========================
 FORMS
=========================*/

#content fieldset
{
	padding: 10px 0 10px 10px;
	margin-bottom: 15px;
	border: none;
	border-top: 1px solid #c8c8c8;
	background: #eaeaea;
}

#content legend
{
	padding: 2px 10px;
	margin-left: 15px;
	background: #c8c8c8;
	font-weight: bold;
	text-transform: uppercase;
}

#content dl
{
	margin-top: 5px;
}

#content dt label, #content dt .label
{
	font-weight: bold;
}

#content dd
{
	margin-bottom: 5px;
}

#content dd input, #content dd textarea, #content dd select
{
	padding: 3px;
}

#content input[type="hidden"]
{
	display: none;
}

#content select > option
{
	padding-right: 10px;
}

#content .field-with-errors label, #content .field-with-errors span.label
{
	background: #ff5f00;
	color: #fff;
	padding: 2px;
}

#content .hidden
{
	display: none;
}

#content table
{
	margin-bottom: 15px;
	width: 100%;
}

#content table th, #content table td
{
	padding: 3px;
	border-bottom: 1px solid #c8c8c8;
}

#content table td
{
	line-height: 1.2em;
	font-size: 11px;
}

#content table th
{
	background: #922c2c;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
}

#content table th a
{
	color: #fff;
	text-decoration: none;
}

#content table th a:hover
{
	text-decoration: underline;
}

.odd
{
	background-color: #eaeaea;
}

.even
{
	background-color: #fff;
}

.summary
{
	font-weight: bold;
}