---
description: >-
  Verify the existence and type of variables before allowing for a given
  controller action to run.
---

# Verification

