*
{
	padding: 0;
	margin: 0;
}

body
{
	text-align: center;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	font-size: 14px;
	color: #333;
	background: #ddd;
}

#wrapper
{
	margin: auto;
	text-align: left;
	width: 1000px;
	background: #fff;
	border-left: 3px solid #999;
	border-right: 3px solid #999;
	border-bottom: 3px solid #999;
}

#content
{
	background: #fff;
	padding: 15px;
}

h1
{
	font-size: 24px;
	font-weight: bold;
	color: #902c2c;
	margin: 10px 0 5px 0;
}

h2
{
	font-size: 16px;
	font-weight: bold;
	color: #902c2c;
}

p
{
	margin-bottom: 15px;
}

p.small
{
	font-size: 11px;
}

a
{
	color: #922c2c;
	text-decoration: underline;
	padding: 1px;
}

a:hover
{
	color: #fff;
	background: #922c2c;
	text-decoration: none;
}

ul
{
	margin: 10px 0 15px 25px;
}

ul li
{
	padding-bottom: 0;
}

img
{
	border: none;
}

pre
{
	border: 1px solid #a6a2a2;
	overflow-x: auto;
	width: 948px;
	padding: 15px;
	margin-bottom: 15px;
	background: #ffffe0;
}

code
{
	color: #000;
	font-family: Courier;
}

tt
{
	font-size: 12px;
	color: #666;
}

#content .admin-list
{
	margin-bottom: 15px;
	width: 100%;
}

.admin-list th, #content .admin-list td
{
	padding: 3px;
	border-bottom: 1px solid #c8c8c8;
	white-space: nowrap;
}

.admin-list td
{
	line-height: 1.2em;
	font-size: 11px;
}

.admin-list th
{
	background: #922c2c;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.admin-list th a
{
	color: #fff;
	text-decoration: none;
}

.admin-list th a:hover
{
	text-decoration: underline;
}

.admin-odd
{
	background-color: #eaeaea;
}

.admin-even
{
	background-color: #fff;
}

.admin-pagination a
{
}

.admin-form fieldset
{
	padding: 10px 0 10px 10px;
	margin-bottom: 15px;
	border: none;
	border-top: 1px solid #c8c8c8;
	background: #eaeaea;
}

.admin-form legend
{
	padding: 2px 10px;
	margin-left: 15px;
	background: #c8c8c8;
	font-weight: bold;
	text-transform: uppercase;
}

.admin-form dl
{
	margin-top: 5px;
}

.admin-form dt label, .admin-form dt .label
{
	font-weight: bold;
}

.admin-form dd
{
	margin-bottom: 5px;
}

.admin-form dd input, .admin-form dd textarea, .admin-form dd select
{
	padding: 3px;
}

.admin-form input[type="hidden"]
{
	display: none;
}

.admin-form select > option
{
	padding-right: 10px;
}

.admin-form .field-with-errors label, .admin-form .field-with-errors span.label
{
	background: #ff5f00;
	color: #fff;
	padding: 2px;
}

.hidden
{
	display: none;
}

.admin-notice
{
	font-weight: bold;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #000;
	background: #008000;
	color: #fff;
}

.admin-alert
{
	font-weight: bold;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #000;
	background: #ff0000;
	color: #fff;
}
