# This workflow is used to release master releases and also by the snapshot workflow
# to release snapshots.
name: CFWheels Release

on:
  push:
    branches:
      - master
  workflow_call:
    secrets:
      SLACK_WEBHOOK_URL:
        required: true
      FORGEBOX_API_TOKEN:
        required: true

env:
  CFWHEELS_PRERELEASE: false

jobs:
  #############################################
  # Build Snapshot or Final Release
  #############################################
  build:
    name: Build & Publish Release
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: "11"

      - name: Cache CommandBox Dependencies
        uses: actions/cache@v1
        if: ${{ true }}
        with:
          path: ~/.CommandBox/artifacts
          key: ${{ runner.OS }}-commandbox-cache-${{ hashFiles( 'box.json' ) }}
          restore-keys: |
            ${{ runner.OS }}-commandbox-cache-${{ hashFiles( 'box.json' ) }}

      - name: Setup CommandBox
        uses: Ortus-Solutions/setup-commandbox@v2.0.0
        with:
          forgeboxAPIKey: ${{ secrets.FORGEBOX_API_TOKEN }}

      - name: Setup Environment Variables For Build Process
        id: current_version
        run: |
          echo "CFWHEELS_VERSION=`cat box.json | jq '.version' -r`" >> $GITHUB_ENV
          box package set version=@build.version@+@build.number@
          # main or snapshot
          echo "BRANCH=main" >> $GITHUB_ENV
          if [ $GITHUB_REF == 'refs/heads/develop' ]
          then
            echo "BRANCH=develop" >> $GITHUB_ENV
          fi

      - name: Install Dependencies
        run: |
          box install
#          cd apidocs && box install

      - name: Build CFWheels Variants for ${{ env.BRANCH }} v${{ env.CFWHEELS_VERSION }}
        run: |
          ant -DisPreRelease=${{ env.CFWHEELS_PRERELEASE }} -Dcfwheels.version=${{ env.CFWHEELS_VERSION }} -Dbuild.branch=${{ env.BRANCH }} -Dbuild.number=${{ github.run_number }} -f build/build.xml

      - name: Upload CFWheels Artifacts
        if: success()
        uses: actions/upload-artifact@v2
        with:
          name: cfwheels-variants
          path: |
            artifacts/**/*

      - name: List files in the core directory
        run: |
          ROOT_DIR=`pwd`
          ls $ROOT_DIR/build-cfwheels-core/cfwheels

      - name: Publish Core
        run: |
          ROOT_DIR=`pwd`
          cd $ROOT_DIR/build-cfwheels-core/cfwheels && box forgebox publish --force

      - name: List files in the base directory
        run: |
          ROOT_DIR=`pwd`
          ls $ROOT_DIR/build-cfwheels-base/cfwheels

      - name: Publish Base
        run: |
          ROOT_DIR=`pwd`
          cd $ROOT_DIR/build-cfwheels-base/cfwheels && box forgebox publish --force

      - name: Inform Slack
        if: ${{ always() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: coding
          SLACK_COLOR: ${{ job.status }} # or a specific color like 'green' or '#ff00ff'
          SLACK_ICON_EMOJI: ":bell:"
          SLACK_MESSAGE: 'CFWheels ${{ env.CFWHEELS_VERSION }} Built with ${{ job.status }}!'
          SLACK_TITLE: "CFWheels Build"
          SLACK_USERNAME: CI
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
